In [85]:
import pandas as pd
import unicodedata

In [86]:
df = pd.read_csv('whole_df_datasport.csv')

/usr/local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
def toUpper(value):
    if not isinstance(value, str):
        return value
    if value.isupper():
        return value
    else:
        nfkd_form = unicodedata.normalize('NFKD', value)
        return u"".join([c.upper() for c in nfkd_form if not unicodedata.combining(c)])

In [88]:
df['Nom'] = df['Nom'].apply(toUpper)

In [89]:
df['Categorie'] = df['Categorie'].apply(toUpper)

In [90]:
df['Lieu'] = df['Lieu'].apply(toUpper)

In [91]:
def to_seconds(time_str):
    if time_str.find('-') >= 0:
        return nan
    debug = False
    
    hours = 0
    mins = 0
    try:
        if time_str.find(':') > 0: # if more than an hour
            h_mm = time_str.split(':')
            hours = int(h_mm[0])
            time_str = h_mm[1]
        
        if time_str.find('.') < 1:
            print('Warning: no dot found in', time_str)
            return
        mm, ss = time_str.split('.')
        mins = int(mm)
        seconds = float(ss.replace(',', '.'))
        
        if debug:
            print(str(hours)+':'+str(mins)+'.'+str(seconds))
        
        return 3600*hours + 60*mins + seconds
    except ValueError as e:
        print('Error with', time_str, ':', e)
        return

In [92]:
def get_main_category(category):
    lastPartLen = len(category.split(' ')[-1])
    if lastPartLen < 4:
        return category[:-(lastPartLen+1)].title()
    else:
        return category.title()
def capitalize_cat(category):
    return category.title()
df['categorie_principale'] = df['Categorie'].apply(get_main_category)

In [93]:
df.head(2)

,Categorie,Rang,Nom,Naissance,Lieu,Groupe,Temps,Dossard,year,categorie_principale
0,POUSSINS B,1,WOLFENSBERGER JOEL,2001,COMMUGNY,ECOLE PRIMAIRE DE COPPET,"7.44,6",4301.0,2008,Poussins
1,POUSSINS B,2,TRIPONEZ LOIC,2001,BASSINS,STADE GENEVE ATHLETISME,"7.44,7",26021.0,2008,Poussins

In [94]:
df['temps_secondes'] = df['Temps'].apply(to_seconds)

In [96]:
df.columns = [i.lower() for i in df.columns]

In [ ]:
#for year, year_df in df_katno.groupby('year'):
#    for i, group in year_df.groupby('catégorie'):
        #if len(set(group['katno'].values)) == 1:
        #    katnos[i] =  group['katno'].values[0]
        #else:
        #    print("error with", group['katno'].values)
        #    raise('Fatal.')
# -> foireux: change d'une année à l'autre... et meme dans une meme annee

In [97]:
katnos_list = []
# on fait notre propre systeme
c = 1000
for i, group in df_katno.groupby('catégorie'):
    katnos_list.append(i)
katnos_list = [toUpper(i) for i in katnos_list]

In [98]:
katnos = {}
c = 1000
for item in katnos_list:
    katnos[item] = c
    c += 1

In [99]:
def add_katno(categorie):
    return katnos[categorie]

In [100]:
df['katno'] = df['categorie'].apply(add_katno)

In [101]:
df.columns

Index(['categorie', 'rang', 'nom', 'naissance', 'lieu', 'groupe', 'temps',
       'dossard', 'year', 'categorie_principale', 'temps_secondes', 'katno'],
      dtype='object')

In [102]:
df = df[['katno', 'categorie', 'categorie_principale', 'rang', 'nom', 'naissance', 'temps', 'year', 'temps_secondes']]

In [104]:
df.columns = ['katno', 'categorie', 'categorie_principale', 'rang', 'nom',
       'naissance', 'temps_str', 'year', 'temps_secondes']

In [107]:
lastRankIndexes = []

def is_float(value):
    if value != value:
        return False
    if isinstance(value, float):
        return True
    elif isinstance(value, int):
        return True
    else:
        return False
for h, x in df[df['temps_secondes'].apply(is_float) == True].groupby('year'):
    for i, y in x.groupby('categorie'):
    #for i, y in df[df['temps_secondes'].apply(is_float) == True].groupby('catégorie'):
        index = y['rang'].idxmax()
        lastRankIndexes.append(index)
        print(y.ix[index][['rang', 'temps_str']])
print(len(lastRankIndexes))

rang             256
temps_str    28.51,8
Name: 4494, dtype: object
rang             421
temps_str    37.24,4
Name: 4238, dtype: object
rang             201
temps_str    19.40,1
Name: 14829, dtype: object
rang             355
temps_str    19.53,0
Name: 14628, dtype: object
rang             563
temps_str    19.58,3
Name: 14273, dtype: object
rang             828
temps_str    20.18,0
Name: 13710, dtype: object
rang             670
temps_str    22.57,3
Name: 3817, dtype: object
rang             996
temps_str    20.16,6
Name: 3147, dtype: object
rang             205
temps_str    33.05,9
Name: 15148, dtype: object
rang             525
temps_str    46.21,5
Name: 5177, dtype: object
rang             727
temps_str    39.36,3
Name: 15875, dtype: object
rang             938
temps_str    43.33,7
Name: 16813, dtype: object
rang            1021
temps_str    40.40,1
Name: 17834, dtype: object
rang             356
temps_str    39.30,0
Name: 18190, dtype: object
rang              97
temps_str    40.33,3
Name: 18287, dtype: object
rang              16
temps_str    55.17,9
Name: 18303, dtype: object
rang             871
temps_str    58.13,7
Name: 6048, dtype: object
rang              1804
temps_str    1:01.53,0
Name: 7852, dtype: object
rang              1879
temps_str    1:00.43,2
Name: 9731, dtype: object
rang             905
temps_str    56.07,5
Name: 10636, dtype: object
rang             158
temps_str    45.07,8
Name: 4652, dtype: object
rang               369
temps_str    1:00.27,1
Name: 11005, dtype: object
rang                70
temps_str    1:03.17,5
Name: 11075, dtype: object
rang             114
temps_str    50.33,8
Name: 14943, dtype: object
rang             992
temps_str    34.27,7
Name: 12882, dtype: object
rang             815
temps_str    18.13,5
Name: 11890, dtype: object
rang            1174
temps_str    32.06,3
Name: 2151, dtype: object
rang             978
temps_str    17.03,7
Name: 977, dtype: object
rang             263
temps_str    29.58,8
Name: 22674, dtype: object
rang             330
temps_str    32.37,9
Name: 22411, dtype: object
rang             226
temps_str    19.52,2
Name: 33386, dtype: object
rang             361
temps_str    24.01,7
Name: 33160, dtype: object
rang             597
temps_str    18.59,0
Name: 32799, dtype: object
rang             915
temps_str    20.52,1
Name: 32202, dtype: object
rang             685
temps_str    25.09,3
Name: 22081, dtype: object
rang             549
temps_str    20.14,7
Name: 20924, dtype: object
rang             472
temps_str    24.56,4
Name: 21396, dtype: object
rang             210
temps_str    27.02,2
Name: 33735, dtype: object
rang             523
temps_str    34.12,4
Name: 23351, dtype: object
rang             827
temps_str    43.49,5
Name: 34562, dtype: object
rang            1091
temps_str    38.30,0
Name: 35653, dtype: object
rang            1087
temps_str    45.04,6
Name: 36741, dtype: object
rang             392
temps_str    49.38,5
Name: 37133, dtype: object
rang             123
temps_str    39.49,8
Name: 37256, dtype: object
rang              15
temps_str    45.51,5
Name: 37271, dtype: object
rang            1044
temps_str    52.49,6
Name: 24395, dtype: object
rang            1852
temps_str    57.00,6
Name: 26247, dtype: object
rang            1887
temps_str    53.23,1
Name: 28134, dtype: object
rang              1003
temps_str    1:00.46,3
Name: 29137, dtype: object
rang             154
temps_str    53.33,3
Name: 22828, dtype: object
rang               391
temps_str    1:05.18,2
Name: 29528, dtype: object
rang                76
temps_str    1:58.55,9
Name: 29604, dtype: object
rang             139
temps_str    39.51,9
Name: 33525, dtype: object
rang             471
temps_str    14.37,9
Name: 30733, dtype: object
rang             554
temps_str    21.22,3
Name: 31287, dtype: object
rang             276
temps_str    19.59,7
Name: 29880, dtype: object
rang             382
temps_str    15.32,3
Name: 30262, dtype: object
rang             595
temps_str    20.27,5
Name: 19774, dtype: object
rang             601
temps_str    19.31,9
Name: 20375, dtype: object
rang             358
temps_str    15.45,6
Name: 18661, dtype: object
rang             518
temps_str    15.22,8
Name: 19179, dtype: object
rang             273
temps_str    32.01,3
Name: 41252, dtype: object
rang             363
temps_str    32.12,0
Name: 40979, dtype: object
rang             205
temps_str    17.37,2
Name: 51228, dtype: object
rang             356
temps_str    14.57,7
Name: 51023, dtype: object
rang             488
temps_str    17.38,6
Name: 50667, dtype: object
rang             869
temps_str    19.57,8
Name: 50179, dtype: object
rang             561
temps_str    14.49,6
Name: 40616, dtype: object
rang             528
temps_str    18.39,6
Name: 39623, dtype: object
rang             432
temps_str    15.37,9
Name: 40055, dtype: object
rang             187
temps_str    25.01,5
Name: 51530, dtype: object
rang             789
temps_str    39.29,5
Name: 52319, dtype: object
rang            1006
temps_str    38.55,8
Name: 53325, dtype: object
rang             948
temps_str    38.56,0
Name: 54273, dtype: object
rang             331
temps_str    47.37,5
Name: 54604, dtype: object
rang             115
temps_str    38.59,3
Name: 51343, dtype: object
rang             106
temps_str    37.57,0
Name: 54710, dtype: object
rang              10
temps_str    48.55,5
Name: 54720, dtype: object
rang             446
temps_str    35.58,6
Name: 41866, dtype: object
rang            1018
temps_str    45.55,4
Name: 42884, dtype: object
rang            1751
temps_str    47.18,3
Name: 44635, dtype: object
rang            1838
temps_str    48.59,8
Name: 46473, dtype: object
rang             919
temps_str    56.05,2
Name: 47392, dtype: object
rang             168
temps_str    45.12,8
Name: 41420, dtype: object
rang             360
temps_str    57.35,5
Name: 47752, dtype: object
rang              64
temps_str    56.36,0
Name: 47816, dtype: object
rang             422
temps_str    16.01,3
Name: 48858, dtype: object
rang             452
temps_str    15.17,7
Name: 49310, dtype: object
rang             255
temps_str    16.21,0
Name: 48071, dtype: object
rang             365
temps_str    15.57,4
Name: 48436, dtype: object
rang             524
temps_str    15.05,1
Name: 38549, dtype: object
rang             546
temps_str    15.22,0
Name: 39095, dtype: object
rang             311
temps_str    15.19,3
Name: 37582, dtype: object
rang             443
temps_str    15.00,8
Name: 38025, dtype: object
rang             267
temps_str    39.00,0
Name: 59403, dtype: object
rang             352
temps_str    51.47,5
Name: 59136, dtype: object
rang             253
temps_str    18.04,2
Name: 70655, dtype: object
rang             401
temps_str    16.42,8
Name: 70402, dtype: object
rang             596
temps_str    19.33,7
Name: 70001, dtype: object
rang             518
temps_str    20.30,4
Name: 68914, dtype: object
rang             491
temps_str    27.19,9
Name: 69405, dtype: object
rang             673
temps_str    45.53,8
Name: 58784, dtype: object
rang             620
temps_str    18.32,3
Name: 57590, dtype: object
rang             521
temps_str    17.47,9
Name: 58111, dtype: object
rang             227
temps_str    33.13,9
Name: 70997, dtype: object
rang              1010
temps_str    1:26.15,7
Name: 72007, dtype: object
rang            1169
temps_str    45.07,1
Name: 73176, dtype: object
rang            1136
temps_str    41.17,1
Name: 74312, dtype: object
rang             410
temps_str    42.43,3
Name: 74722, dtype: object
rang             115
temps_str    50.27,4
Name: 70770, dtype: object
rang             121
temps_str    38.03,4
Name: 74843, dtype: object
rang              22
temps_str    46.38,3
Name: 74865, dtype: object
rang             532
temps_str    45.53,2
Name: 60117, dtype: object
rang              1091
temps_str    1:00.30,8
Name: 61208, dtype: object
rang              1881
temps_str    1:01.36,1
Name: 63089, dtype: object
rang            1865
temps_str    54.03,8
Name: 64954, dtype: object
rang            1014
temps_str    58.17,0
Name: 65968, dtype: object
rang             182
temps_str    51.27,9
Name: 59585, dtype: object
rang             389
temps_str    54.34,0
Name: 66357, dtype: object
rang                84
temps_str    1:04.21,9
Name: 66441, dtype: object
rang             556
temps_str    21.20,2
Name: 67826, dtype: object
rang             570
temps_str    17.00,9
Name: 68396, dtype: object
rang             292
temps_str    15.24,4
Name: 66733, dtype: object
rang             537
temps_str    16.23,3
Name: 67270, dtype: object
rang             649
temps_str    17.58,3
Name: 56285, dtype: object
rang             685
temps_str    19.59,4
Name: 56970, dtype: object
rang             325
temps_str    14.36,7
Name: 55045, dtype: object
rang             591
temps_str    19.02,0
Name: 55636, dtype: object
rang             292
temps_str    33.50,7
Name: 79968, dtype: object
rang             387
temps_str    39.22,1
Name: 79676, dtype: object
rang             298
temps_str    19.54,2
Name: 90268, dtype: object
rang             410
temps_str    24.22,2
Name: 89970, dtype: object
rang               149
temps_str    2:16.00,2
Name: 97891, dtype: object
rang               348
temps_str    2:31.48,3
Name: 98239, dtype: object
rang               497
temps_str    2:23.03,2
Name: 98736, dtype: object
rang               187
temps_str    2:27.47,3
Name: 98923, dtype: object
rang                32
temps_str    2:08.14,6
Name: 98955, dtype: object
rang                 2
temps_str    1:57.16,7
Name: 98957, dtype: object
rang               386
temps_str    2:11.24,3
Name: 94725, dtype: object
rang              1023
temps_str    2:06.57,7
Name: 95748, dtype: object
rang              1249
temps_str    2:32.12,4
Name: 96997, dtype: object
rang               584
temps_str    2:27.54,0
Name: 97581, dtype: object
rang               135
temps_str    2:23.48,8
Name: 97716, dtype: object
rang                16
temps_str    2:23.48,8
Name: 97732, dtype: object
rang                10
temps_str    1:55.10,8
Name: 97742, dtype: object
rang                33
temps_str    1:50.58,6
Name: 94339, dtype: object
rang             634
temps_str    22.28,0
Name: 89560, dtype: object
rang             582
temps_str    19.35,4
Name: 88453, dtype: object
rang             473
temps_str    27.35,8
Name: 88926, dtype: object
rang             698
temps_str    18.49,5
Name: 79289, dtype: object
rang             660
temps_str    19.09,5
Name: 78009, dtype: object
rang             582
temps_str    32.23,4
Name: 78591, dtype: object
rang             144
temps_str    28.44,5
Name: 90536, dtype: object
rang              1090
temps_str    1:08.05,8
Name: 91626, dtype: object
rang            1142
temps_str    43.08,9
Name: 92768, dtype: object
rang            1032
temps_str    41.20,0
Name: 93800, dtype: object
rang             377
temps_str    46.49,2
Name: 94177, dtype: object
rang             124
temps_str    37.57,3
Name: 90392, dtype: object
rang             113
temps_str    43.56,4
Name: 94290, dtype: object
rang              16
temps_str    45.23,7
Name: 94306, dtype: object
rang             345
temps_str    37.10,7
Name: 80487, dtype: object
rang            1076
temps_str    52.23,8
Name: 81563, dtype: object
rang              1596
temps_str    1:17.01,2
Name: 83159, dtype: object
rang            1426
temps_str    53.51,5
Name: 84585, dtype: object
rang             733
temps_str    58.10,4
Name: 85318, dtype: object
rang             174
temps_str    45.52,9
Name: 80142, dtype: object
rang             320
temps_str    56.27,5
Name: 85638, dtype: object
rang                86
temps_str    1:06.30,8
Name: 85724, dtype: object
rang             671
temps_str    15.51,7
Name: 87232, dtype: object
rang             639
temps_str    15.50,7
Name: 87871, dtype: object
rang             325
temps_str    17.13,5
Name: 86049, dtype: object
rang             512
temps_str    15.17,6
Name: 86561, dtype: object
rang             758
temps_str    14.03,6
Name: 76658, dtype: object
rang             691
temps_str    14.12,3
Name: 77349, dtype: object
rang             430
temps_str    15.07,4
Name: 75295, dtype: object
rang             605
temps_str    14.57,4
Name: 75900, dtype: object
rang             322
temps_str    34.55,2
Name: 104343, dtype: object
rang             440
temps_str    35.49,1
Name: 104021, dtype: object
rang             356
temps_str    19.22,9
Name: 117207, dtype: object
rang             433
temps_str    24.18,4
Name: 116851, dtype: object
rang             652
temps_str    21.38,2
Name: 116418, dtype: object
rang             654
temps_str    23.59,1
Name: 115230, dtype: object
rang             536
temps_str    20.51,8
Name: 115766, dtype: object
rang             741
temps_str    17.09,6
Name: 103581, dtype: object
rang             660
temps_str    18.57,3
Name: 102269, dtype: object
rang             571
temps_str    18.59,3
Name: 102840, dtype: object
rang             172
temps_str    28.49,3
Name: 117529, dtype: object
rang            1424
temps_str    38.49,1
Name: 118953, dtype: object
rang            1421
temps_str    44.53,3
Name: 120374, dtype: object
rang            1252
temps_str    49.13,6
Name: 121626, dtype: object
rang             486
temps_str    41.56,8
Name: 122112, dtype: object
rang             150
temps_str    34.39,3
Name: 117357, dtype: object
rang             138
temps_str    40.06,9
Name: 122250, dtype: object
rang              21
temps_str    40.46,4
Name: 122271, dtype: object
rang             439
temps_str    34.47,9
Name: 104973, dtype: object
rang            1492
temps_str    54.46,2
Name: 106465, dtype: object
rang            2193
temps_str    58.35,2
Name: 108658, dtype: object
rang            2041
temps_str    56.59,7
Name: 110699, dtype: object
rang              1071
temps_str    1:07.34,3
Name: 111770, dtype: object
rang             191
temps_str    49.56,9
Name: 104534, dtype: object
rang               396
temps_str    1:01.06,4
Name: 112166, dtype: object
rang               108
temps_str    1:06.40,4
Name: 112274, dtype: object
rang             656
temps_str    15.15,0
Name: 113816, dtype: object
rang             760
temps_str    18.48,5
Name: 114576, dtype: object
rang             327
temps_str    16.30,9
Name: 112601, dtype: object
rang             559
temps_str    21.42,0
Name: 113160, dtype: object
rang             782
temps_str    14.11,7
Name: 100819, dtype: object
rang             790
temps_str    14.02,6
Name: 101609, dtype: object
rang             416
temps_str    15.13,3
Name: 99373, dtype: object
rang             664
temps_str    17.11,1
Name: 100037, dtype: object
rang             341
temps_str    33.35,2
Name: 127458, dtype: object
rang             429
temps_str    38.11,3
Name: 127117, dtype: object
rang             373
temps_str    19.08,5
Name: 140689, dtype: object
rang             478
temps_str    19.47,9
Name: 140316, dtype: object
rang             594
temps_str    21.45,2
Name: 139838, dtype: object
rang             582
temps_str    22.57,1
Name: 138774, dtype: object
rang             470
temps_str    19.18,0
Name: 139244, dtype: object
rang             725
temps_str    24.03,2
Name: 126688, dtype: object
rang             672
temps_str    21.23,7
Name: 125472, dtype: object
rang             491
temps_str    19.20,1
Name: 125963, dtype: object
rang             176
temps_str    25.55,2
Name: 141061, dtype: object
rang             434
temps_str    33.56,8
Name: 128121, dtype: object
rang            1776
temps_str    53.29,0
Name: 142837, dtype: object
rang            1568
temps_str    45.31,3
Name: 144405, dtype: object
rang            1383
temps_str    49.32,0
Name: 145788, dtype: object
rang             603
temps_str    53.54,4
Name: 146391, dtype: object
rang             196
temps_str    40.49,4
Name: 140885, dtype: object
rang             147
temps_str    38.59,7
Name: 146538, dtype: object
rang              23
temps_str    40.20,1
Name: 146561, dtype: object
rang            1737
temps_str    57.23,8
Name: 129858, dtype: object
rang              2371
temps_str    1:06.01,1
Name: 132229, dtype: object
rang              2192
temps_str    1:10.15,3
Name: 134421, dtype: object
rang            1160
temps_str    57.35,6
Name: 135581, dtype: object
rang             229
temps_str    47.28,8
Name: 127687, dtype: object
rang               403
temps_str    1:03.10,4
Name: 135984, dtype: object
rang               111
temps_str    1:08.14,5
Name: 136095, dtype: object
rang             589
temps_str    17.26,1
Name: 137559, dtype: object
rang             633
temps_str    13.38,5
Name: 138192, dtype: object
rang             379
temps_str    20.42,3
Name: 136474, dtype: object
rang             496
temps_str    15.58,1
Name: 136970, dtype: object
rang             732
temps_str    13.33,0
Name: 124111, dtype: object
rang             689
temps_str    17.07,5
Name: 124800, dtype: object
rang             448
temps_str    18.40,5
Name: 122719, dtype: object
rang             660
temps_str    15.36,9
Name: 123379, dtype: object
rang             348
temps_str    32.47,9
Name: 157960, dtype: object
rang             487
temps_str    37.47,7
Name: 157612, dtype: object
rang             398
temps_str    20.23,1
Name: 157125, dtype: object
rang             550
temps_str    20.17,8
Name: 156727, dtype: object
rang             698
temps_str    24.00,2
Name: 155381, dtype: object
rang             727
temps_str    22.32,1
Name: 152711, dtype: object
rang             601
temps_str    24.10,1
Name: 154049, dtype: object
rang             796
temps_str    26.46,9
Name: 156177, dtype: object
rang             737
temps_str    25.02,7
Name: 153448, dtype: object
rang             634
temps_str    23.06,6
Name: 154683, dtype: object
rang             167
temps_str    41.04,1
Name: 170168, dtype: object
rang             367
temps_str    33.08,3
Name: 165464, dtype: object
rang            1281
temps_str    39.23,6
Name: 166922, dtype: object
rang            1256
temps_str    45.02,9
Name: 168178, dtype: object
rang            1145
temps_str    44.28,4
Name: 169323, dtype: object
rang             539
temps_str    39.01,8
Name: 169862, dtype: object
rang             177
temps_str    37.31,8
Name: 165641, dtype: object
rang             118
temps_str    44.14,1
Name: 169980, dtype: object
rang              21
temps_str    43.47,2
Name: 170001, dtype: object
rang            1384
temps_str    58.58,8
Name: 159541, dtype: object
rang              2086
temps_str    1:02.37,9
Name: 161627, dtype: object
rang            1972
temps_str    58.59,0
Name: 163599, dtype: object
rang            1056
temps_str    58.57,6
Name: 164655, dtype: object
rang             197
temps_str    56.52,1
Name: 158157, dtype: object
rang             345
temps_str    57.03,3
Name: 165000, dtype: object
rang                97
temps_str    1:05.20,7
Name: 165097, dtype: object
rang            1625
temps_str    49.09,4
Name: 171793, dtype: object
rang             733
temps_str    47.09,4
Name: 172526, dtype: object
rang               562
temps_str    1:04.49,9
Name: 173088, dtype: object
rang              1384
temps_str    1:08.40,6
Name: 174472, dtype: object
rang             715
temps_str    17.04,7
Name: 149571, dtype: object
rang             712
temps_str    16.14,4
Name: 151151, dtype: object
rang             399
temps_str    17.44,2
Name: 146960, dtype: object
rang             638
temps_str    18.37,3
Name: 148112, dtype: object
rang             868
temps_str    16.28,5
Name: 150439, dtype: object
rang             833
temps_str    17.03,8
Name: 151984, dtype: object
rang             514
temps_str    14.22,5
Name: 147474, dtype: object
rang             744
temps_str    16.16,9
Name: 148856, dtype: object
282

In [108]:
df['is_last'] = 0

In [109]:
for i in lastRankIndexes:
    # df.set_value(index, col, value, takeable=False)
    df.set_value(i, 'is_last', 1)

In [110]:
df.to_csv('ready_for_sql.csv', index=False)